<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AST</title>
    <style>
        body {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        margin: 0;
    }
    </style>
</head>
<body>
    <img id="image" alt="ast" src='<%= imageUrl %>'>
</body>
</html>