<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokens</title>
    <!--flowbite cdn-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <!--Tailwind cdn-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Token
                </th>
                <th scope="col" class="px-6 py-3">
                    Lexema
                </th>
                <th scope="col" class="px-6 py-3">
                    Linea
                </th>
                <th scope="col" class="px-6 py-3">
                    Columna
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < Tokens.length; i++) { %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%=Tokens[i].Token%>
                    </th>
                    <td class="px-6 py-4">
                        
                        <%=Tokens[i].Lexema%>
                    <td class="px-6 py-4">
                       
                       <%=Tokens[i].Fila%>
                    </td>
                    <td class="px-6 py-4">
                        <%=Tokens[i].Columna%>
                    </td>
                </tr>
            <% } %>

        </tbody>
    </table>
</div>



</body>
</html>